@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&family=Roboto:wght@300;400&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-color: #252525;
    display: flex;
    justify-content: space-around;
    height: 12vh;
    align-items: center;
}
.menu{
    display: flex;
    width: 17vw;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: #ffffff;
}
header img{
    width: 45px;
}
header nav{
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40%; 
}
.FirstSection{
   background-color: #FC6392;
    height: 74vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}
 .FirstSection h1{
    color: #ffffff;
    font-size: 51px;
    height: 14vh;
    width: 28vw;
    text-align: center;
    position: relative;
    bottom:1vh;
    font-family: 'Roboto Serif', serif;
    font-weight: bolder;
 }
 .OneText{
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .imgFundo{
    background-image: url(cachorro\ 1.png);
     background-position: center bottom; 
    height: 74vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom:14vh;
 }

.SecondSection{
    background-image:url(cachorro2.jpeg);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: 30vw 10px;
    background-color:#F4F2F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TwoText{
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 40vh;
    position: absolute;
    right: 43%;
    justify-content: space-between;
}
.TwoText h2{
    color: #3A342F;
    font-size: 49px;
    font-family: 'Roboto Serif', serif;
}
.TwoText p{
    color: #3A342F;
    height:22vh;
    width: 25vw;
    text-align: left;
    font-size: 30px;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.TwoText button{
    background-color: #3A342F;
    color: #ffffff;
    width: 13vw;
    border-radius: 50px;
    height: 7vh;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border: none;
}

.ThirdSection{
    height:80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E54979;
}
.ThirdSection figure img{
     position: relative;
     top: 16px;  
     width: 22.75vw; 
}
.ThreeText{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 48vh;
    position: absolute;
    left: 50%;
    justify-content: space-between;
}
.ThreeText h2{
    color: black;
    font-size: 49px;
    font-family: 'Roboto Serif', serif;
}
.ThreeText p{
    color: black;
    height:22vh;
    width: 25vw;
    text-align: left;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.ThreeText button{
    background-color:#ffffff;
    color: black;
    width: 13vw;
    border-radius: 50px;
    height: 7vh;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border: none;
}
.apoio{
    background-color: white;
    color: #FD6A9A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vw;
}
.apoio img{
   width: 15vw;
}
i{
   font-size: 35px;
}
footer{
    background-color: #EB4A7B;
    color: #ffffff;
    height: 40vh;
    display: flex;
    align-items: center;
    gap: 50px;
    text-transform: capitalize;
}
.atendimento{
      height:20vh;
      width: 10vw;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
}
.sobre{
    height:20vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.unidades{
    height:20vh;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.conteinerFooter{
    height: 30vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer li{
       padding: 2px;
       font-size: 17px;
       font-family: 'Roboto', sans-serif;
       list-style: none;
       word-spacing: 5px;
    }
footer h3{
    font-weight: bold;
    font-family: 'Roboto Serif', serif;
    font-size: 30px;
    
}
@media(min-width:201px) and (max-width: 500px){
    .YoutubeIcon, .InstagranIcon{
        display: none;
    }
    .FirstSection h1{
        font-size: 7vw;
    }
    .ThreeText h2{
        font-size: 5vw;
        width: 100%;
    }
    .ThreeText p{
        font-size: 4vw;
        width: 48vw;
    }
    .FirstSection .imgFundo{
        width: 100vw; 
        height: 73vh;
    }
    .SecondSection{
        background-image: url(dog2\ mobile.jpeg) 100%; 
        background-color: none;
    }
    .TwoText {
        width: 50%;
        height: 30%;   
    }
    .TwoText h2{ 
        width: 100%;
        font-size: 6vw;
    }
    .TwoText p{
        width: 100%;
        font-size: 4vw;
        height: 35%;
    }
    .TwoText button{
        font-size: 12px;
        width: 35vw;
        height: 5vh;
        
    }
    .OneText{
        display: flex;
        align-items:flex-start ;
    }
   
    .ThreeText button{
        font-size: 12px;
        width: 35vw;
        height: 5vh;
    }
    footer h3{
        font-size: 10px;
    }
    .apoio{
        flex-direction: column;
        align-items: space-between;
    }
    footer{
        flex-direction: column;
        height: 60vh;
        width: 100%;
    }
    .conteinerFooter{
        flex-direction: column;
        height: 50vh;
    }
    footer li{ 
        font-size: 15px;
        text-align: center;
}
.atendimento{
    height:15vh;
    width: 8vw;
}
h3{
    text-align: center;
}
.FirstSection h1 {
    position: relative;
    top:15px;
    width: 80%;
    height: 10vh;
    }
    .imgFundo{
    display: flex;
    justify-content: flex-start;
    }
   
    
   
} 


    
